<html>
<ion-view view-title="Gift It!">
  <ion-content class="padding">
        <!--<div>
          <img class="img" src="img/gift.png">
        </div> -->
      <div class="item item-body">
          <img class="full-image" src="img/gift.png">
        <div>
          <h1>Welcome to Gift It! </h1>
          <p>
            <ol>
              <li>Make a Secret Santa list with your friends!</li>
              <li> To get started, click on the List icon below.</li> 
              <li>When you are done with your list, head to the Send icon!</li>
            </ol>

              </p>
        </div>
      </div>
    </div>
    <!--<div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
 </html>
